form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.question1, .question2, .question3, .question4, .question5, .question6, .question7, .question8, .question9, .question10 {
    border-radius: 20px;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.question1 {
    background-color: #FB7943;
}

.question2 {
    background-color: #43d6fb;
}

.question3 {
    background-color: #FB7943;
}

.question4 {
    background-color: #8eff94;
}

.question5 {
    background-color: #8e8eff;
}

.question6 {
    background-color: #8eff94;
}

.question7 {
    background-color: #8eff94;
}

.question8 {
    background-color: #8eff94;
}

.question9 {
    background-color: #8eff94;
}

.question10 {
    background-color: #8eff94;
}

.submit-button {
    color: pink;
    border: 2px solid purple;
    background-color: orange;



}

.image-option {
    width: 10em;
    height: 10em;
}