form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align:center;
    justify-content: center;
    color: rgba(16, 4, 152, 0.853);
    font-family: 'Pixelify Sans', sans-serif;
    max-width: 1200px;
    margin: auto;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    text-align: center;
    color: cornflowerblue;
    font-family: "Pixelify Sans", sans-serif;
}

h3 {
    text-align: center;
    color: cornflowerblue;
    font-family: 'Pixelify Sans', sans-serif;
}

body{background-color: rgb(211, 250, 250);}


.question1, .question2, .question3, .question4, .question5, .question6, .question7, .question8, .question9, .question10 {
    border-radius: 20px;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    font-family: 'Pixelify Sans', sans-serif;
    font-size: 17px;
}

.question1 {
    background-color: #ffa882;
}

.question2 {
    background-color: #a2efaf;
}

.question3 {
    background-color: #c76ef0;
}

.question4 {
    background-color: #f3a3e1;
}

.question5 {
    background-color: #8e8eff;
}

.question6 {
    background-color: #9bf5d2;
}

.question7 {
    background-color: #ff8ebf;
}

.question8 {
    background-color: #8ee8ff;
}

.question9 {
    background-color: #fbff8e;
}

.question10 {
    background-color: #8eff94;
}

.back {
    font-family: 'Pixelify Sans', sans-serif;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    transition-duration: 0.3s;
    background-color: #ffaad4;
    border: none;
    border-radius: 10px;

}

.back:hover{
    background-color: #ff6f91;
    color: white;
}

.submit {
    font-family: 'Pixelify Sans', sans-serif;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    transition-duration: 0.3s;
    background-color: #ffaad4;
    border: 2px solid rgb(223, 144, 223);
    border-radius: 15px;
    width: 100px;
    height: 50px;
}

.submit:hover{
    background-color: #ff6f91;
    color: white;
}

.image-option {
    object-fit: cover;
    overflow: hidden;
    width: 10em;
    height: 10em;
}