
h1 {
    text-align: center;
    color: cornflowerblue;
    font-family: 'Pixelify Sans', sans-serif;
}

h2 {
    text-align: center;
    color: cornflowerblue;
    font-family: 'Pixelify Sans', sans-serif;
}

h3 {
    text-align:center;
    color:cornflowerblue;
    font-family: 'Pixelify Sans', sans-serif;
}

form {
    text-align:center;
    color: cornflowerblue;
    font-family: 'Pixelify Sans', sans-serif;
}

nav {
    text-align:center;
    color: cornflowerblue;
    font-family: 'Pixelify Sans', sans-serif;
}

body{background-color: rgb(255, 220, 124);}