h1 {text-align: center; color: cornflowerblue; font-family: helvetica;}
        h2 {text-align: center;color: cornflowerblue; font-family: helvetica;}
        h3 {text-align: center;color: cornflowerblue; font-family: helvetica;}
        form {text-align: center;color: cornflowerblue; font-family: helvetica;}
        nav {text-align: center;color: cornflowerblue; font-family: helvetica;}

        body{background-image: url(backgrnd_wic.png);}